alias ll="ls -lhtr"
alias la="ls -latrh"
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias grep="grep -i --color=always"
alias pbc="pwd | tr -d '\n' | pbcopy"
alias ip="ifconfig | grep inet"
alias ntwk="sudo arp-scan --interface=en0 --localnet"
alias rs="rsync -avzh"
alias bkrs="nice -n19 rsync --rsync-path=\"nice -n19 rsync\" -avzh"
alias pg_start="pg_ctl -D /usr/local/var/postgres start"
alias pg_stop="pg_ctl -D /usr/local/var/postgres stop"
