## Handy bash shortcuts
alias ll="ls -lhtr"
alias lst="ls | sort -V"
alias la="ls -latrh"
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias .-="cd -"
alias grep="grep -i"
alias ubflux="xflux -z 94304"

## Shortcuts for frequently visited paths.
BP="~/.bash_profile"
BRC="~/.bashrc"
DB="$HOME/Dropbox"
RLOG="$DB/notes/current"
alias scripts="cd $DB/scripts"
alias class="cd $DB/class/f14"
alias rdir="cd $RLOG"

## shortcuts for common
alias bp="vi $BP" 
alias sbp=". $BP"
alias brc="vi $BRC" 
alias sbrc=". $BRC"
# os x
alias pbc="pwd | tr -d '\n' | pbcopy"
# ubuntu
alias lpbc="pwd | xclip"
alias syspy="export PATH=$HOMEBREW:$PATH"
alias cb="xclip -o"
alias ip="ifconfig | grep inet"
alias vm5="amixer -q sset Master 5%-"
alias vp5="amixer -q sset Master 5%+"

# query network
alias ntwk="sudo arp-scan --interface=en0 --localnet"

alias rlog="vi $RLOG/rlog.txt"
# beep
alias not="ssh -Y kmckiern@not0rious.stanford.edu"
alias vsp="ssh -Y kmckiern@vsp-compute-01.stanford.edu"
alias cert="ssh -Y kmckiern@certainty-d.stanford.edu"
alias hs="ssh -Y kmckiern@proclus.stanford.edu"
alias card="ssh -Y kmckiern@cardinal.stanford.edu"
alias corn="ssh -Y kmckiern@corn.stanford.edu"
alias rye="ssh -Y kmckiern@rye01.stanford.edu"
alias bx3="ssh -Y kmckiern@biox3.stanford.edu"
alias titan="ssh -Y kmckiern@titan.ccs.ornl.gov"
alias mtitan="ssh -Y mlawrenz@titan.ccs.ornl.gov"
alias icme="ssh -Y kmckiern@icme-gpu1.stanford.edu"
alias sher="ssh -Y kmckiern@sherlock.stanford.edu"
alias xs="ssh -Y kmckiern@xstream-login.stanford.edu"

alias rs="rsync -avzh"
# throttle rsync on both sides of a larger transfer
alias bkrs="nice -n19 rsync --rsync-path=\"nice -n19 rsync\" -avzh"

# queueue
alias sq="squeue -l | grep kmck"
alias jerb="PBSCheck.py nodes | grep kmck"

## Start programs via CL
alias ipn="ipython notebook"
alias vmd="/Applications/VMD\ 1.9.1.app/Contents/MacOS/startup.command"
alias scan_hd="sudo /Applications/Space\ Gremlin\ Pro.app/Contents/MacOS/Space\ Gremlin\ Pro"

## hmMMMmmmMMm
# cdc() {
#   for fn in "$@"; do
#   source-highlight --out-format=esc -o STDOUT -i $fn 2>/dev/null || /bin/cat $fn;
#   done
# }
# alias cat='cdc'
