alias ls="ls --color=always"
alias ll="ls -lhtr"
alias la="ls -latrh"
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias grep="grep -i --color=always"
alias pbc="pwd | tr -d '\n' | pbcopy"
alias lpbc="pwd | xclip"
alias cb="xclip -o"
alias ip="ifconfig | grep inet"
alias vm5="amixer -q sset Master 5%-"
alias vp5="amixer -q sset Master 5%+"
alias ntwk="sudo arp-scan --interface=en0 --localnet"
alias rs="rsync -avzh"
alias bkrs="nice -n19 rsync --rsync-path=\"nice -n19 rsync\" -avzh"
