# why is this not a standard command on os x?
# arg 1: current name element
# arg 2: replacement name element
# arg 3 to end: file(s) to apply replacement to.
rnm() {
    ARGS=( ${@} )
    FLZ=( "${ARGS[@]:2}" )
    for i in "${FLZ[@]}"; do
        MATCH=${1:-‘’}
        REPLACE=${2:-‘NULL’}
        [[ -z $MATCH ]] && return 2 || :
            RNM=$(echo $i | sed "s/$MATCH/$REPLACE/g");
            cp -r $i $RNM;
            mv $i i-$i;
    done
}

# for parsing
pref() {
    echo $(echo $1 | awk -F '.' '{print $1}');
}

# stolen from jason
now() {
  echo $(date +"%Y.%m.%d-%H.%M.%S")
}

del() {
    ARGS=( ${@} )
    mv $ARGS ~/.recycle
}

fnd() {
    ARGS=( ${@} )
    find . -iname "*$ARGS*"
}

comp_tex() {
    ARGS=$1
    latex ${ARGS}.tex && dvips -P pdf ${ARGS}.dvi && ps2pdf ${ARGS}.ps
}
