# stolen from jason
now() {
  echo $(date +"%Y.%m.%d-%H.%M.%S")
}

fnd() {
    ARGS=( ${@} )
    find . -iname "*$ARGS*"
}

gp() {
    FILE=$1
    MSG=$2
    git add "$FILE" && git commit -m "$MSG" && git push origin master
}
